body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

table{
    
  margin: 0 auto;
    
}

td, th{
    height: 50px;
}

td, th{
    width: 150px;
}

table, th, td{
     border: 1px solid black;
    border-collapse: collapse;
}

main{
    width: 100%;
    height: 100%;
}

main h3{
    text-align: center;
}

.headerDiv{
    display: inline-block;
    width: 49%;
    text-align: center;
}

#axisDegreeInput, #wheelSpeedInput{
    margin-left: 27%;
} 

.Contentdiv{
    width: 20%;
    height: 150px;
    display: inline-block;
}

#mainContent{
    width: 100%;
   
}

#mainContentHeader{
   margin-left: 22%;
}

#limitSwitches{
    width: 100%;
}

.switchLED{
    display: inline-block;
    width: 20%;
}

.switchLED p{
    margin-left: 10%;
}

.switchLED div{
    margin-left: 15%;
}

#mainContentBody{
    text-align: center;
}

#sopbot {
/*  position: relative;*/
  margin: 0 auto;    
  display: block;
  width: 400px;
  height: 300px;
  background: url("../front_wheels.png") no-repeat;
  background-size: cover;
  overflow: hidden;
}

#break{
  margin: 0 auto;    
  display: block;
  width: 220px;
  height: 200px;
  background: url("../break.png") no-repeat;
  background-size: cover;
  overflow: hidden;
}

#wheel {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 200px;
  background: url("../coach_wheel-512.png") no-repeat;
  background-size: cover;
  border-radius: 196px;
  overflow: hidden;
  box-shadow: 0 0 7px #333;
}